@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root {
    --progress-color-enemy: green;
    --progress-color-my: green;
    --progress-color-active-slot: green;
    --progress-color-bench-slot-0: yellow;
    --progress-color-bench-slot-1: purple;
    --progress-color-bench-slot-2: red;
    --progress-color-bench-slot-3: blue;

}


/* img {
    max-height: 100%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
}

#container {
    display: inline-block;
    position: relative;
    width: 100vw;
    height: 99vh;
    border: 1px solid white;

}

#battle-HUD {
    display: none;
}


canvas {
    margin-inline: auto;
    opacity: 0.8;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;


}


#textbox img {
    width: 150px;
    margin-inline: 20px;
}

body {
    background-color: black;
}

#text-container {
    position: absolute;
    left: 50%;
    bottom: 2cqmin;
    background-color: rgb(240, 240, 240, 0.4);
    color: black;
    /* width: 1200px;
    height: 100px; */
    transform: translateX(-50%);
    font-size: 32px;
    display: flex;
    align-items: center;
    display: none;
    text-align: center;
    justify-content: center;
    padding: 1em;
}

#menu {
    width: 8vw;
    padding: 0.5em;
    background-color: rgba(240, 240, 240, 0.4);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type: none;
}

ul>li {
    width: 100%;
}

li>button {
    width: 100%;
    height: 50px;
    cursor: pointer;
}


#choice {
    display: none;
}

#squad-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    background-color: rgba(240, 240, 240, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#active-container,
#bench-container {
    text-align: center;
    width: 50%;
    padding: 2em;
}


#bench-container {
    border-right: 5px solid rgba(0, 0, 0, 0.4)
}

#active-slot {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 1em;
}

#active-slot img {
    width: 45%;
}

#slot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    gap: 1em;
}

#slot-container>div {
    width: calc(50% - 1em);
    height: 50%;
    margin-block: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    gap: 1em;
}

#slot-container>div>progress,
#active-container>div>progress {
    width: 60%;
    height: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--progress-color-my)
}



#battle-interface {
    background-color: white;
    position: absolute;
    /* bottom: 2%;
    right: 1.5%; */
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid black;
    height: 220px;
    display: flex;

}

#attacks {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#attack-info {
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30;
    display: flex;
    font-size: 35px;
    flex-direction: column;
    gap: 1em;
    font-weight: bold;
    border-left: 3px solid black;
}


#attacks>button {
    flex-basis: 50%;
    display: flex;
    height: 50%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
}

#attacks>button:hover {
    background-color: lawngreen;
    font-size: 35px;
}

#attack-type>img {
    width: 40px;
}

#attack-type>span {
    margin-top: 0.1em;
}

#attack-type {
    display: flex;
    gap: 0.5em;

}

#enemy-bar,
#my-bar {
    background-color: white;
    width: 350px;
    height: 110px;
    border: 3px solid black;
    position: absolute;
    border-radius: 10%;
    padding: 1em;
    text-align: center;
}

#enemy-bar {
    top: 5%;
    left: 10%;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-container>div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#enemy-gender,
#my-gender {
    color: blue;
    font-size: 1.2em;
}

#my-bar {
    bottom: 30%;
    right: 5%;
}

.progress {
    display: flex;
    margin-top: 0.5em;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
    width: fit-content;
    margin-inline: auto;
}



progress {
    width: 200px;
    border: 3px solid black;
    height: 100%;
}


.progress>span {
    background-color: black;
    border: 3px solid black;
    color: orange;
    padding: 0.2em;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;

}

span.status {
    color: white;
    background-color: red;
    border: 0;
    margin-right: 0.5em;
    display: none;

}


#my-hp::-webkit-progress-value {
    background-color: var(--progress-color-my);
}

#enemy-hp::-webkit-progress-value {
    background-color: var(--progress-color-enemy);
}

#progress-active::-webkit-progress-value {
    background-color: var(--progress-color-active-slot);
}

.progress-0::-webkit-progress-value {
    background-color: var(--progress-color-bench-slot-0);
}

.progress-1::-webkit-progress-value {
    background-color: var(--progress-color-bench-slot-1);
}

.progress-2::-webkit-progress-value {
    background-color: var(--progress-color-bench-slot-2);
}

.progress-3::-webkit-progress-value {
    background-color: var(--progress-color-bench-slot-3);
}




progress::-webkit-progress-value {
    background-color: var(--progress-color-bench-slot-1);
}





#my-hp-num,
#enemy-hp-num {
    margin-left: 170px;
    margin-top: 8px;
}

/* @keyframes tackle {
    0% {
        left: 15%;
    }

    45% {
        left: 10%;
    }

    70% {
        left: 5%;
    }

    90% {
        left: 25%;
    }

    100% {
        left: 15%;
    }
} */


#enemyPokeBox {
    position: absolute;
    top: 22%;
    left: 62%;
    width: 500px;
    height: 250px;
    animation-fill-mode: both;
}



#myPokeBox {
    position: absolute;
    bottom: 25%;
    left: 10%;

    width: 500px;
    height: 250px;
}

#enemyPoke {
    pointer-events: none;
}

.tailwhipAnimation {
    animation: circle 0.7s linear 3 backwards;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-70px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-70px) rotate(-360deg);
    }

}



#myPoke {
    pointer-events: none;

}

img#myPoke,
img#enemyPoke {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

img#myPoke.small {
    width: 40%;
}

img#myPoke.medium {
    width: 70%;
}

img#myPoke.big {
    width: 80%;
}

img#enemyPoke.small {
    width: 30%;
}

img#enemyPoke.medium {
    width: 60%;
}

img#enemyPoke.big {
    width: 70%;
}

img#myPoke.free {
    width: 100%;
}

img {
    transform: translate(-50%, -);
}




.moveEffect {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#topfang {
    display: inline-block;
    transform: scale(3);
    left: 40%;
}

#botfang {
    display: inline-block;
    transform: scale(3);
    left: 40%;
}

#growl {
    width: 170px;
}

#poison,
#sleep {
    width: 200px;
}


#freeze {
    opacity: 0.5
}

#enemyPokeBox #freeze {
    top: 50px;
}

#myPokeBox #freeze {
    top: 50px;
    left: 280px;
}

#paralysis,
#freeze {
    width: 250px;
}

#myPokeBox #paralysis {
    left: 300px;
}


#myPokeBox #growl,
#myPokeBox #sleep {
    left: 420px;
    top: -30px;
}

#enemyPokeBox #growl,
#enemyPokeBox #sleep {
    left: 40px;
    top: 50px;
    transform: rotate(200deg);
}


#battle-dialogue {
    position: absolute;
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 35px;

}

#battle-options {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    display: flex;
    font-size: 30px;
}



#battle-options-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#battle-options-buttons {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;

}

#battle-options-buttons button {
    width: 50%;
    height: 50%;
    cursor: pointer;
    font-size: 23px;
}

#bench {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 3;
    display: flex;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: none;
}

#bench>div {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border: 1px solid black;
}

#bench img {
    width: 8%;
}

#ball {
    width: 250px;
    bottom: 20px;
    left: 20px;
}

#pokeball {
    width: 90px;
    left: -150px;
    bottom: -200px;
}


/* .d-none {
    display: none;
} */